body{
	background-color: rgb(29, 29, 29);
	color: aliceblue;
}
#banner {
	width:100%;
}

.principal{
	background: #474747;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

#missao {
	font-size: 20px
}

.itens {
	font-style: italic
}

.beneficios {
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

#lPr{
	text-transform: uppercase;
	color: aliceblue;
	font-weight: bold;
	font-size: 22px;
}

#lPr:hover {
	color: #C78C19;
	text-decoration: underline;
}

footer {
	text-align: center;
	background: url("img/bg.jpg");
	padding: 40px;
}

